

<!DOCTYPE html>
<html>
<head>
{{ greeting }}
{{ menu }}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link rel="stylesheet" type="text/css" media="all" href="/css/styles.css">
<script type="text/javascript">
function makeTime(time) {
    // Minutes and seconds
    var mins = ~~(time / 60);
    var secs = time % 60;

    // Hours, minutes and seconds
    var hrs = ~~(time / 3600);
    var mins = ~~((time % 3600) / 60);
    var secs = time % 60;

    // Output like "1:01" or "4:03:59" or "123:03:59"
    var ret = "";

    if (hrs > 0) {
        ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
    }

    ret += "" + mins + ":" + (secs < 10 ? "0" : "");
    ret += "" + secs.toFixed(3);
    return ret;
};

// Load the Visualization API and the piechart package.
google.load('visualization', '1', {'packages':['controls'], callback: drawTable});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawTable);

function drawTable() {
    var data = new google.visualization.DataTable();
    data.addRows({{ bestlaps_count }});
    data.addColumn('string', 'Number');
    data.addColumn('string', 'Racer');
    data.addColumn('string', 'Class');
    data.addColumn('string', 'Track');
    data.addColumn('string', 'Best Lap');
    data.addColumn('string', 'Date');

     {% for bestlap in bestlaps %}
        var t = makeTime({{ bestlap.time }});
        data.setCell({{ loop.index }}, 0, '{{ bestlap.driver.car.number }}');
        data.setCell({{ loop.index }}, 1, '<a href="/driver/{{ bestlap.driver.name }}">{{ bestlap.driver.name }}</a>');
        data.setCell({{ loop.index }}, 2, '{{ bestlap.raceclass.name }}');
        data.setCell({{ loop.index }}, 3, '{{ bestlap.track }}');
        data.setCell({{ loop.index }}, 4, t);
        data.setCell({{ loop.index }}, 5, '{{ bestlap.event.date.strftime('%a, %b %d, %Y') }}');
    {% endfor %}


    var dashboard = new google.visualization.Dashboard(document.querySelector('#dashboard'));

    var racerFilter = new google.visualization.ControlWrapper({
        controlType: 'StringFilter',
        containerId: 'racer_filter',
        options: {
            filterColumnIndex: 1,
            matchType: 'any',
            caseSensitive: 'false',
            'ui': {
                labelStacking: 'vertical'
            }
        }
    });

    var classFilter = new google.visualization.ControlWrapper({
        controlType: 'StringFilter',
        containerId: 'class_filter',
        options: {
            filterColumnIndex: 2,
            'ui': {
                labelStacking: 'vertical'
            }
        }
    });

    var trackFilter = new google.visualization.ControlWrapper({
        controlType: 'StringFilter',
        containerId: 'track_filter',
        options: {
            filterColumnIndex: 3,
            'ui': {
                labelStacking: 'vertical'
            }
        }
    });

    var table = new google.visualization.ChartWrapper({
        chartType: 'Table',
        containerId: 'table_div',
        options: {
            page: 'enable',
            pageSize: '25',
            showRowNumber: false,
            allowHtml: true
        },
        'ui': {
            labelStacking: 'vertical'
        }
    });

    dashboard.bind([racerFilter, classFilter, trackFilter], [table]);
    dashboard.draw(data);
}
</script>
<br><hr><br>

</head>
<body>
    <div id="w">
        <div id="content">
            <div id="dashboard" align="center">
                    <div class='inline'><div id="racer_filter"></div></div>
                    <div class='inline'><div id="class_filter"></div></div>
                    <div class='inline'><div id="track_filter"></div></div>
                <div id="table_div"></div>
            </div>
        </div>
    </div>
</body>
</html>