

<!DOCTYPE html>
<html>
<head>

<b> {{ racer.name }} </b>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link rel="stylesheet" type="text/css" media="all" href="/css/styles.css">
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
function makeTime(time) {
    // Minutes and seconds
    var mins = ~~(time / 60);
    var secs = time % 60;

    // Hours, minutes and seconds
    var hrs = ~~(time / 3600);
    var mins = ~~((time % 3600) / 60);
    var secs = time % 60;

    // Output like "1:01" or "4:03:59" or "123:03:59"
    var ret = "";

    if (hrs > 0) {
        ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
    }

    ret += "" + mins + ":" + (secs < 10 ? "0" : "");
    ret += "" + secs.toFixed(3);
    return ret;
};

// Load the Visualization API and the piechart package.
google.load('visualization', '1', {'packages':['table']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawTable);

function drawTable() {
    var data = new google.visualization.DataTable();
    data.addRows({{ bestlaps_count }});
    //      data.addColumn('string', 'Number');
    //      data.addColumn('string', 'Racer');
    data.addColumn('string', 'Track');
    data.addColumn('string', 'Best Lap');
    data.addColumn('string', 'Points');
    data.addColumn('string', '')
      
    {% for bestlap in bestlaps %}
        var t = makeTime({{ bestlap.time }});
        //         data.setCell({{ loop.index }}, 0, '{{ bestlap.driver.car.number }}');
        //         data.setCell({{ loop.index }}, 1, '<a href="/driver/{{ bestlap.driver.name }}">{{ bestlap.driver.name }}</a>');
        data.setCell({{ loop.index }}, 0, '{{ bestlap.track }}');
        data.setCell({{ loop.index }}, 1, t);
        data.setCell({{ loop.index }}, 2, '{{ bestlap.driver.points }}');
        data.setCell({{ loop.index }}, 3, '{% if bestlap.isBest %}<b>Best record for track and class</b>{% endif %}')
    {% endfor %}

    var table = new google.visualization.Table(document.getElementById('table_div'));
    table.draw(data, {showRowNumber: false, sort: 'enable', width: '50%', allowHtml: true});
}
</script>
<br><hr><br>

</head>
<body>
  <div id="topbar">
  <a href="/bestlap">Back to Lap Records</a>
  </div>
  
  <div id="w">
    <div id="content" class="clearfix">
      <div id="userphoto"><img src="/images/avatar.png" alt="default avatar"><br>
       Sponsor: {{racer.sponsor}}
      </div>
      <h1>{{racer.name}}</h1>

      <nav id="profiletabs">
        <ul class="clearfix">
          <li><a href="#bio" class="sel">Bio</a></li>
          <li><a href="#laps">Lap Records</a></li>
        </ul>
      </nav>
      
      <section id="bio">
        <p>Racer Name: {{racer.name}}</p>
        
        <p>Car Details:<br>
        Year: {{racer.car.year}}<br>
        Make: {{racer.car.make}}<br>
        Model: {{racer.car.model}}<br>
        Color: {{racer.car.color}}
        </p>
        
      </section>
      
      <section id="laps" class="hidden">
        <div id="table_div"></div>
      </section>
    </div><!-- @end #content -->
  </div><!-- @end #w -->
<script type="text/javascript">
$(function(){
  $('#profiletabs ul li a').on('click', function(e){
    e.preventDefault();
    var newcontent = $(this).attr('href');
    
    $('#profiletabs ul li a').removeClass('sel');
    $(this).addClass('sel');
    
    $('#content section').each(function(){
      if(!$(this).hasClass('hidden')) { $(this).addClass('hidden'); }
    });
    
    $(newcontent).removeClass('hidden');
  });
});
</script>
</body>
</html>