

<!DOCTYPE html>
<html>
<head>
Hello, {{ user.nickname }}:
{{ greeting }}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/cupertino/jquery-ui.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({
      onSelect: function(dateText, inst){
        $("#datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
      }
    });
  } );
  </script>
<br><hr><br>

</head>
<body>
<form action={{upload_url}} method="POST" enctype="multipart/form-data">
Group Name: <input type="text" name="group"><br>
Track Name: <input type="text" name="track"><br>
Upload File: <input type="file" name="file"><br>
Date: <input id="datepicker" type="text" name="date"><br>
<br>
<input type="submit" name="submit" value="Submit">
</form>
</body>
</html>