

<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/cupertino/jquery-ui.css">
<link rel="icon" type="image/png" href="images/Favicon.png">
<link rel="stylesheet" type="text/css" media="all" href="/css/design.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({
      onSelect: function(dateText, inst){
        $("#datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
      }
    });
  } );
  </script>
    <p align="center"  style="background-color:#b9b8b8">
        <img src="/images/0.gif" alt="Banner" align="middle" />
        <hr>
        <div class='menu'>{{ menu }}</div><div class='greeting'>{{ greeting }}</div>
        <br><hr>
    </p>

</head>
<body>
<form action={{upload_url}} method="POST" enctype="multipart/form-data">
Group Name: <input type="text" name="group"><br>
Track Name: <input type="text" name="track"><br>
Upload File: <input type="file" name="file"><br>
Date: <input id="datepicker" type="text" name="date"><br>
<br>
<input type="submit" name="submit" value="Submit">
</form>
<hr>
 <form action="/picupload"
            enctype="multipart/form-data"
            method="post">
        <div>
          <textarea name="content" rows="3" cols="60"></textarea>
        </div>
        <select name="driver">
        {% for driver in drivers %}
        <option value="{{ driver.key() }}">{{ driver.name }}</option>
        {% endfor %}
        </select>
        <div><label>Picture:</label></div>
        <div><input type="file" name="img"/></div>
        <div><input type="submit" value="Upload"></div>
      </form>
      <hr>
<!--       <form>Driver name: <input value="driver_photo" name="driver_photo">
      <input type="submit" value="switch"></form> -->
    </body>
  </html>
</body>
</html>