

<!DOCTYPE html>
<html>
<head>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link rel="stylesheet" type="text/css" media="all" href="/css/design.css">
<script type="text/javascript">
    function makeTime(time) {
        // Minutes and seconds
        var mins = ~~(time / 60);
        var secs = time % 60;

        // Hours, minutes and seconds
        var hrs = ~~(time / 3600);
        var mins = ~~((time % 3600) / 60);
        var secs = time % 60;

        // Output like "1:01" or "4:03:59" or "123:03:59"
        var ret = "";

        if (hrs > 0) {
            ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
        }

        ret += "" + mins + ":" + (secs < 10 ? "0" : "");
        ret += "" + secs.toFixed(3);
        return ret;
    };

    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    };


// Load the Visualization API and the piechart package.
//google.load('visualization', '1', {'packages':['table']});

// Set a callback to run when the Google Visualization API is loaded.
//google.setOnLoadCallback(drawTable);
google.load('visualization', '1', {'packages':['controls'], callback: drawTable});

function drawTable() {
    var data = new google.visualization.DataTable();
    var page_size = {{ page_size }}
    var page_count = {{ page_count }}
    var page_num = {{ page_num }}
    var offset = (page_size * (page_num+1)) - page_size;
    data.addRows({{ page_size}}*{{page_count}});
    data.addColumn('string', 'Car #');
    data.addColumn('string', 'Racer');
    data.addColumn('string', 'Race Class');
    data.addColumn('string', 'Track');
    data.addColumn('string', 'Best Lap');
    data.addColumn('string', 'Date');
    	
    {% for lap in laps %}
        var t = makeTime({{ lap.time }});
        data.setCell(offset, 0, '{{ lap.driver.car.number }}');
        data.setCell(offset, 1, '<a href="/driver/{{ lap.driver.name }}">{{ lap.driver.name }}</a>');
        data.setCell(offset, 2, '{{ lap.raceclass.name }}');
        data.setCell(offset, 3, '{{ lap.track }}');
        data.setCell(offset, 4, t);
        data.setCell(offset, 5, '{{ lap.event.date.strftime('%a, %b %d, %Y') }}');
        offset++;
    {% endfor %}

    var dashboard = new google.visualization.Dashboard(document.querySelector('#dashboard'));

    var racerFilter = new google.visualization.ControlWrapper({
        controlType: 'StringFilter',
        containerId: 'racer_filter',
        options: {
            filterColumnIndex: 1,
            matchType: 'any',
            'ui': {
                labelStacking: 'vertical'
            }
        }
    });

    var classFilter = new google.visualization.ControlWrapper({
        controlType: 'StringFilter',
        containerId: 'class_filter',
        options: {
            filterColumnIndex: 2,
            'ui': {
                labelStacking: 'vertical'
            }
        }
    });

    var trackFilter = new google.visualization.ControlWrapper({
        controlType: 'StringFilter',
        containerId: 'track_filter',
        options: {
            filterColumnIndex: 3,
            'ui': {
                labelStacking: 'vertical'
            }
        }
    });

    var table = new google.visualization.ChartWrapper({
        chartType: 'Table',
        containerId: 'table_div',
        options: {
            page: 'event',
            pageSize: page_size,
            pagingButtons: page_count,
            startPage: page_num,
            showRowNumber: false,
            allowHtml: true
        }
    });

    google.visualization.events.addListener(dashboard,'ready', onReady);
    
    dashboard.bind([racerFilter, classFilter, trackFilter], [table]);
    dashboard.draw(data);

    function onReady() {
        google.visualization.events.addListener(table.getChart(),'page', changePage);
    }
    function changePage(e) {
        console.log(page_size);
        page_num = e['page'] + 1;
        //alert('The user is navigating to page ' + page_num);
        post('/laps', {page_num: page_num, page_size: page_size, function: 'changePage'});
        table.draw(data);
    }
}


</script>
<p align="center"><img src="/images/0.gif" alt="Banner" align="middle"></p>
<hr>
</head>
<body>
    {{ greeting }}
    {{ menu }}
    <hr>
    <div id="w">
        <div id="content">
            <div id="dashboard" align="center">
                <div class='inline'><div id="racer_filter"></div></div>
                <div class='inline'><div id="class_filter"></div></div>
                <div class='inline'><div id="track_filter"></div></div>
                <br>
                <br>
                <div id="table_div"></div>
            </div>
            Page {{page_num + 1}} of {{page_count}}
        </div>

    </div>
</body>
</html>
